.da-container, .sc-container, .sr-container {
  background-color: #fbeceb;
  height: 280px;
  border-radius: 16px;
  padding: 16px 24px;
}

.container-title i {
  font-size: 16px;
  font-weight: bold;
  cursor: default;
}

.da-container {
  margin-top: 21px;
  width: 75vw;
}

.inner-wrapper {
  margin-top: 12px;
  display: inline-block;
}

.bottom-container {
  margin-top: 3vh;
}

.sc-container {
  width: 49vw;
  display: inline-block;
}

.sr-container {
  width: 24vw;
  margin-left: 2vw;
  display: inline-block;
}

.detail-button {
  margin-top: 16px;
  background-color: #feb249;
  padding: 4px 16px;
  display: block;
  border-radius: 4px;
  width: 122px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  transition: 0.5s;
}

.detail-button:hover {
  transition: 0.5s;
  filter: brightness(1.1);
}
