.grid {
  display: grid;
  column-gap: 2vw;
  height: 77vh;
  grid-template-columns: 45vw 28vw;
}

.gridbox {
  background-color: #fbeceb;
  border-radius: 16px;
  cursor: default;
}

.stats-title {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 2vh;
}

.chart-title {
  font-size: 14px;
  text-align: center;
}

.right {
  padding: 3vh 0;
}

.stats-table {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 25vh;
  width: 21.5vw;
}

.curr-ledger, .hist-ledger {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 3vh;
  margin-bottom: 2px;
}

.more-button {
  background-color: #feb249;
  margin-top: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bolder;
  padding: 4px 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  width: 64px;
  cursor: pointer;
}
